* {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
//abstracts
@import './base/typography';

//vendors
@import './vendors/bootstrap';

//base

//layout
@import './layout/nav';

//components
@import './components/button';
@import './components/carruselComponente';
//pages

@import'./pages/app';
@import'./pages/default';
@import'./pages/inicio';

//themes